services:
  app:
    build:
      context: rentapi/
    ports:
      - "8000:8000"
    volumes:
      - ./rentapi/src:/src
    command: ["uvicorn", "src.main:app", "--host", "0.0.0.0", "--port", "8000"]
    environment:
      - DB_HOST=db
      - DB_NAME=app
      - DB_USER=postgres
      - DB_PASSWORD=pass
      - STRIPE_SECRET_KEY=${STRIPE_SECRET_KEY:-sk_test_placeholder}
    depends_on:
      - db
    networks:
      - backend
    container_name: app

  db:
    image: postgres:17
    environment:
      - POSTGRES_DB=app
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=pass
    networks:
      - backend
    container_name: db


networks:
  backend: